body{
    background-color: rgb(210, 180, 140);
}

li{
    padding-left: 50px;
    padding-top: 10px;
    font-size: 1.8em;
}

#tittle{
    text-align: center;
    font-size: 3em;
}


#sub-tittle{
    text-align: center;
    font-size: 1.5em;
}

#about-step{
    text-align: center;
    font-size: 4.0em;
    padding-top: 50px;
    padding-bottom: 50px;
}

#job{
    font-size: 1.5em;
    text-align: center;
    padding-top: 30px;
}

#tittle-film{
    text-align: center;
    font-size: 4.0em;
    margin-top: 50px;
    margin-bottom: 50px;
}

#name-film{
    font-size: 1.7em;
    padding-top: 100px;
}

#about-film{
    font-size: 0.8em;
}
